@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>REVEL READING</h1>
    <h2>Reach for the Stars!</h2>
    <p class="lead">Educators can create, find, and rate reading resources here for the five main areas: phonemic awareness, phonics,
    fluency, vocabulary, and comprehension.  Search today to easily locate resources to support your instruction that other educators have
    rated as highly effective.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>REVEL READING: Reach for the Stars</h2>
        <p>
            REVEL READING is a place where educators can create and add resources for other educators to explore and use 
            with their students.  The reading resources are broken down into the five main areas: phonemic awareness, phonics,
            fluency, vocabulary, and comprehension.  
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Top Resources</h2>
        <p>Show the top rated resources for you that educators have rated as highly effective.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">EXPLORE &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Rate a Resource</h2>
        <p>This is a great place to rate a resource and provide feedback.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">RATE IT &raquo;</a></p>
    </div>
</div>